<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Nido di Rongio - 3d view</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<style>
  .progress-bar {
    height: 20px;
    background: #1da1f2;
    box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
    border-radius: 50px;
    transition: all 0.5s;
  }
</style>
<body>
  <!-- Navbar Start -->
  <div class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/description" class="nav-item nav-link">Description</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
                <!--<a href="/3dview" class="nav-item nav-link">3D View</a>-->

            </div>
        </div>
    </nav>
  </div>
  <!-- Navbar End -->

  <h1>Work in progress</h1>

  <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

  <script type="importmap">
  {
    "imports": {
      "three": "./build/three.module.js",
      "three/examples/jsm/loaders/GLTFLoader":"./jsm/loaders/GLTFLoader.js",
      "three/examples/jsm/libs/stats.module":"./jsm/libs/stats.module.js",
      "three/examples/jsm/libs/dat.gui.module":"./jsm/libs/dat.gui.module.js",
      "three/examples/jsm/controls/OrbitControls":"./jsm/controls/OrbitControls.js"
    }
  }   
  </script>

  <canvas style="display: none; width: 100%;" class = "webgl" data-engine="three.js"></canvas>
  <div id="loading" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h4 id="loading_msg"></h4>
    <div id="loading_bar" class="progress-bar"></div>
  </div>

  <script type="module" src="../js/3d.js"></script>


  <!-- Back to Top -->
  <a href="https://www.facebook.com/Il-Nido-di-Rongio-102582322003874/" class="btn btn-dark back-to-top "><i class="fa fa-angle-up "></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>
  <script src="../lib/easing/easing.min.js "></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js "></script>

  <!-- Template Javascript -->
  <script src="../js/main.js "></script>
</body>

</html>