<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nido di Rongio - description</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 mb-3">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/description" class="nav-item nav-link active">Description</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                    <a href="/3dview" class="nav-item nav-link">3D View</a>
                </div>
                <div class="input-group ml-auto " style="width: 100%; max-width: 300px; " id="date "></div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Breadcrumb Start -->
    <div class="container-fluid ">
        <div class="container ">
            <nav class="breadcrumb bg-transparent m-0 p-0 ">
                <a class="breadcrumb-item " href="/">Home</a>
                <span class="breadcrumb-item active ">Description</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- House Info Start -->
    <div class="container-fluid py-3 ">
        <div class="container ">
            <div class="bg-light py-2 px-4 mb-3 ">
                <h3 class="m-0 ">Some information about the house</h3>
            </div>
            <div class="row ">
                <div class="col-md-5 ">
                    <div class="bg-light mb-3 " style="padding: 30px; height: 100%;">
                        <p style="word-wrap: break-word;">A beautiful house in Rongio, Mandello Del Lario (LC, Italy), 1.2Km from downtown.</p>
                        <p> Near Sentiero del Viandante and many other paths to Grigna (the local mountain), this location is perfect for who loves nature and mountain, but also for who likes swimming and sunbathing as it's only a couple of Km away from the
                            Lake.
                        </p>
                        <p>The house can accomodate 4 guests: has one bedroom with a single bed and one bedroom with two beds (single + double), two bathrooms, kitchen, washing machine, TV, a balcony, free Wi-fi and a quite big frontyard.</p>
                        <p>There is no garage, but there are some parking lots nearby.</p>
                        <p>We are happy to meet you and listen to your queries, if you want more information please contact us</p>
                    </div>
                </div>
                <div class="col-md-7 ">
                    <img src="img/mandel.jpg" style="width:100%; height:100%; overflow: visible;" />
                </div>
            </div>
        </div>
    </div>
    <!-- House Info End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-light pt-5 px-sm-3 px-md-5 ">
        <div class="row ">
            <div class="col-lg-3 col-md-6 mb-5 ">
                <a href="/" class="navbar-brand ">
                    <h1 class="mb-2 mt-n2 display-5 text-uppercase "><span class="text-primary ">Nido</span> di rongio</h1>
                </a>
                <p>A beautiful house in Rongio, Mandello del Lario. We hope to see you soon.</p>
                <div class="d-flex justify-content-start mt-4 ">
                    <a class="btn btn-outline-secondary text-center mr-2 px-0 " style="width: 38px; height: 38px; " href="https://www.facebook.com/Il-Nido-di-Rongio-102582322003874/"><i class="fab fa-facebook-f "></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 ">
                <h4 class="font-weight-bold mb-4 ">Find us on</h4>
                <div class="d-flex flex-column justify-content-start ">
                    <p><i class="fa fa-angle-right text-dark mr-2 "></i>Phone</p>
                    <a class="text-secondary mb-2 " href="https://www.booking.com/hotel/it/nido-di-rongio.it.html "><i class="fa fa-angle-right text-dark mr-2 "></i>Booking</a>
                    <a class="text-secondary mb-2 " href="https://nido-di-rongio-mandello-del-lario.hotelmix.it/ "><i class="fa fa-angle-right text-dark mr-2 "></i>HotelMix</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 px-sm-3 px-md-5 ">
        <p class="m-0 text-center ">
            &copy; <a class="font-weight-bold " href="#
                        ">nidodirongio.com</a>. All Rights Reserved.

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal ". Thank you for your support. ***/-->
            Designed by <a class="font-weight-bold " href="https://htmlcodex.com ">HTML Codex</a>
        </p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="# " class="btn btn-dark back-to-top "><i class="fa fa-angle-up "></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>
    <script src="lib/easing/easing.min.js "></script>
    <script src="lib/owlcarousel/owl.carousel.min.js "></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js "></script>
    <script src="mail/contact.js "></script>

    <!-- Template Javascript -->
    <script src="js/main.js "></script>
    <script src="js/date.js "></script>
</body>